.selector {
    $selector_heigth: 50px;

    height: $selector_heigth;
    overflow: visible;
    position: relative;

    &__holder {
        background: $mainwhite;
        border: 1px solid rgba(133, 141, 163, 0.2);
        border-radius: 8px;
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        max-height: $selector_heigth;
        transition: all 0.3s;
    }

    &__toggler {
        width: 100%;
        height: 100%;
        height: $selector_heigth;
        flex-shrink: 0;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        &-arrow {
            position: absolute;
            width: 15px;
            height: 15px;
            display: flex;
            right: 20px;
            transition: all 0.3s;
        }

        p {
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            color: $mainblack;
            // opacity: 0.5;
        }
    }

    &__element {
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: calc($selector_heigth - 10px);
        padding: 10px 20px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: rgba(24, 24, 28, 0.5);

        &:hover,
        &.current {
            background: #eff2fa;
        }
    }

    &.opened & {
        &__toggler-arrow {
            transform: rotate(180deg);
        }

        &__holder {
            max-height: 600px;
            z-index: 4;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}