.btn {
    min-width: 140px;
    height: 50px;
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid $mainblue;
    cursor: pointer;
    background: #1c4fd1;
    border-radius: 8px;
    transition: 0.3s;
    padding: 0 20px;

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        transition: 0.3s;
        color: #ffffff;
    }

    &:hover {
        background: transparent;

        p {
            color: $mainblue;
        }
    }

    &.grey {
        border: 1px solid rgba(133, 141, 163, 0.1);
        background: rgba(133, 141, 163, 0.1);

        p {
            color: $mainblack;
        }

        &:hover {
            background: $mainblue;
            border: 1px solid $mainblue;

            p {
                color: #fff;
            }
        }
    }

    &.rounded {
        height: 40px;
        border-radius: 52px;
        cursor: pointer;
        border: 0;

        &:hover {
            opacity: 0.7;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $mainblue;
        }

        &.blue {
            border: 1px solid $mainblue;

            &:hover {
                border-color: $mainblue;

                p {
                    color: $mainblue;
                }
            }

            p {
                color: $mainwhite;
            }
        }
    }

    &.red {
        background: rgba(255, 53, 53, 0.7);
        border-color: rgba(255, 53, 53, 0.7);

        p {
            color: #ffffff;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &.green {
        background: #2cad7f;
        border-color: #2cad7f;

        p {
            color: #ffffff;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &.lightblue {
        background: rgba(28, 79, 209, 0.1);
        border-color: transparent;

        p {
            color: $mainblue;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &.secondary {
        background: rgba(28, 79, 209, 0.1);
        border-color: transparent;
        height: 45px;
        width: 100%;

        p {
            font-size: 14px;
            color: $mainblue;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &.loading {
        position: relative;
        pointer-events: none;

        &::after {
            width: 30px;
            height: 30px;
            display: flex;
            background: url("../../images/icon-loader.svg") no-repeat center center/contain;
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            transition: 0.3s;
            filter: brightness(0) invert(1);
            animation: rotater 1s infinite ease-in-out;
        }

        p,
        span {
            opacity: 0;
        }

        &.grey {
            &::after {
                filter: brightness(0) opacity(0.3);
            }
        }

        &.lightblue {
            &::after {
                filter: revert;
            }
        }

        &.secondary {
            &::after {
                filter: revert;
            }
        }
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .btn {
        height: 35px;
        min-width: 100px;

        p {
            font-size: 12px;
        }
    }
}

@keyframes rotater {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}