.prsidebar {
    width: 370px;
    flex-shrink: 0;

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgba(133, 141, 163, 0.1);
        border-radius: 104px;
        padding: 2px;
        margin-bottom: 20px;
        height: 35px;
    }

    &__tab {
        width: 100%;
        height: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $mainblack;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &.current,
        &.active {
            background: #ffffff;
            border: 0.5px solid rgba(0, 0, 0, 0.04);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 3px 1px rgba(0, 0, 0, 0.04);
            border-radius: 41px;

            &:hover {
                pointer-events: none;
            }
        }
    }

    &__links {
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
        margin-bottom: 20px;
    }

    &__link {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        border-bottom: 0.5px solid rgba(198, 198, 200, 0.4);
        transition: all 0.3s;

        &:last-child {
            border: 0;
        }

        &:hover {
            background: rgba(198, 198, 200, 0.4);
        }

        &.current,
        &.active {
            &:hover {
                background: none;
            }
        }

        &.current &,
        &.active & {

            &-icon,
            &-arrow {
                filter: revert;
            }

            &-title {
                color: $mainblue;
            }
        }

        &-icon {
            width: 20px;
            height: 20px;
            display: flex;
            object-fit: contain;
            margin-right: 10px;
            overflow: hidden;
            transition: all 0.3s;
            filter: grayscale(1);

            &.filternone {
                filter: revert;
            }
        }

        &-title {
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 120%;
            color: $mainblack;
            flex-grow: 1;
        }

        &-arrow {
            width: 15px;
            height: 15px;
            filter: grayscale(1);
            transition: all 0.3s;
            display: flex;
            object-fit: contain;
            overflow: hidden;
        }
    }

    &__toggler {
        display: none;
    }
}

@media (max-width: 992px) {
    .prsidebar {
        width: 200px;

        &__tabs {
            flex-direction: column;
            height: auto;
            border-radius: 10px;
            padding: 10px;
        }

        &__tab {
            padding: 8px;

            &.current {
                border-radius: 5px;
            }
        }

        &__link {
            height: 50px;

            &-icon {
                width: 15px;
                height: 15px;
            }

            &-arrow {
                width: 10px;
                height: 10px;
            }

            &-title {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px) {
    .prsidebar {
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.04);
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px;
        border-radius: 5px;
        z-index: 8;
        transition: all 0.3s;
        width: 546px;
        opacity: 0;
        visibility: hidden;

        &__toggler {
            height: 40px;
            padding: 0 20px;
            border: 1px solid $mainblue;
            color: $mainblue;
            border-radius: 5px;
            position: absolute;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            z-index: 4;
            bottom: calc(100% + 10px);
            right: 0;

            &-txt {
                font-size: 14px;
                font-weight: 700;
                line-height: 1;
            }

            &-img {
                width: 12px;
                height: 12px;
                display: flex;
                margin-top: 2px;
                object-fit: contain;
                transform: rotate(90deg);
                transition: all 0.3s;
            }

            &.mobileopened & {
                &-img {
                    transform: rotate(270deg);
                }
            }
        }

        &.mobileopened {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: 576px) {
    .prsidebar {
        width: calc(100% - 30px);
        padding: 30px;
    }
}