.chat {
    padding: 30px 0;
    height: calc(100vh - 80px);

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__boody {
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        flex-grow: 1;
        padding-top: 70px;
        display: flex;
        position: relative;
        flex-grow: 1;
        overflow: hidden;

        &-header {
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            right: 0;
            padding: 10px 25px;
            border-bottom: 1px solid #e0e5f5;
            padding-left: 310px;

            &::before {
                display: flex;
                content: "";
                width: 290px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                border-right: 1px solid #e0e5f5;
            }
            &-status {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 120%;
                color: $mainblue;
                background: rgba(28, 79, 209, 0.1);
                border-radius: 52px;
                padding: 8px 15px;
            }
            &.personcard {
                margin: 0 auto 0 0;
            }
        }

        &-chats {
            width: 291px;
            flex-shrink: 0;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            border-right: 1px solid #e0e5f5;
            overflow-y: scroll;
            padding-right: 5px;

            &::-webkit-scrollbar {
                width: 4px;
            }
            
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            
            &::-webkit-scrollbar-thumb {
                background: rgb(216, 216, 216);
            }
        }
        &-main {
            padding: 25px 25px 25px 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 10px;
        height: 70px;
        cursor: pointer;
        transition: all 0.3s;
        padding: 0 15px;

        &-img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            flex-shrink: 0;
            display: flex;
            object-fit: contain;
        }
        &-name {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $mainblack;
        }
        &-txt {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: $maingrey;
        }
        &-stats {
            width: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-left: auto;
        }
        &-time {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            color: $maingrey;
            margin-bottom: 5px;
        }
        &-count {
            line-height: 1;
            font-size: 12px;
            color: #ffffff;
            min-width: 20px;
            height: 18px;
            padding: 0 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9px;
            background: $mainblue;
            flex-shrink: 0;
        }
    }
    &__conversation {
        &-title {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: $mainblack;
            line-height: 20px;
            text-align: center;
            margin-bottom: 25px;
        }

        &-writerbtn {
            cursor: pointer;

            &.loading {
                position: relative;
                pointer-events: none;

                &::after {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    background: url("../../images/icon-loader.svg") no-repeat center center/contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: "";
                    transition: 0.3s;
                    filter: brightness(0) invert(1);
                    animation: rotater 1s infinite ease-in-out;
                }
            }

            &.grey {
                &::after {
                    filter: brightness(0) opacity(0.3);
                }
            }
        }
        &-messages {
            flex-grow: 1;
            margin-bottom: auto;
            overflow-y: scroll;
            padding-right: 5px;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: rgb(216, 216, 216);
            }

            &-list {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;
            }
        }
        &-actions {
            display: flex;
            flex-shrink: 0;
            gap: 10px;
            margin: 20px 0;
        }
    }
}